* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.red {
  color: red;
}
li {
  list-style-type: none;
}
img {
  width: 100px;
}
.container {
  max-width: 500px;
  padding: 30px 20px;
  margin: 70px auto;
  background-color: #ddd;
  position: relative;
  box-shadow: 0 5px 16px rgba($color: #000000, $alpha: 0.3);
  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .searchgit {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 30px;

    input {
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-radius: 5px;
    }
    span {
      padding: 15px 20px;
      border-radius: 50px;
      background-color: crimson;
      color: wheat;
      margin-left: 8px;
      cursor: pointer;
      font-weight: bold;
    }
  }
  .repodata {
    .created {
      padding: 10px 10px;
      margin-bottom: 10px;
      background-color: white;

      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      align-items: center;
      justify-content: space-between;
      h4 {
        font-size: 16px;
        font-weight: bold;
        text-transform: capitalize;
        color: #333;
      }
      a {
        text-decoration: none;
        color: rgb(15, 84, 214);
        font-weight: bold;
      }
    }
  }
}
@media (max-width: 400px) {
  .container {
    margin: 70px 15px;
  }
  .created {
    h4 {
      font-size: 11px !important;
    }
    span {
      font-size: 10px;
      font-weight: 500;
      text-decoration: underline;
    }
    a {
      font-size: 10px;
    }
  }
}
